.header {
  /* width: 100%; */
  height: 55px;
  border-bottom: 2px solid #f1f1f1;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.header__search {
}

.header__searchInput {
  padding: 10px;
}

.header__searchInput:focus {
  outline: none;
}

.header__searchButton {
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

li {
  padding: 0 10px;
}

.header__burger {
  font-size: 2rem !important;
}

.header__responsive {
  display: none;
  z-index: 1000;
}

.header__button {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header__right {
    /* display: none; */
    flex-flow: column nowrap;
    background-color: #802530;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    padding-top: 3.5rem;
    margin-top: 0;
  }
  li {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  .header__responsive {
    display: block;
  }
}
