.CarouselItem {
  height: auto !important;
  box-shadow: 5px 5px 8px white !important;
}

.MuiPaper-elevation1 {
  height: 80vh !important;
  width: auto;
  background-size: 100% auto;
}

.Carousel-root-1 {
  padding: 0 3rem;
  padding-top: 1rem;
}

.Carousel-indicators-2 {
  opacity: 0;
}

.Carousel-indicators-2:hover {
  opacity: 1;
}

.home__notices {
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2%;
  margin-right: 2%;
}

@media (max-width: 860px) {
  .MuiPaper-elevation1 {
    background-repeat: no-repeat;
    height: 50vh !important;
    background-size: 100% auto;
  }
}

@media (max-width: 500px) {
  .MuiPaper-elevation1 {
    background-repeat: no-repeat;
    height: auto;
    background-size: 100% auto;
  }
  .Carousel-root-1 {
    padding: 0 1.5rem;
    padding-top: 0.5rem;
  }
}
